<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Management</title>
    </head>
    <body>
        <h1>
            <% if (currentFolder) { %> Files in <%= currentFolder.name %> <% }
            else { %> Your files <% } %>
        </h1>

        <!-- Create Folder Form -->
        <form action="/files/create-folder" method="POST">
            <input
                type="text"
                name="name"
                placeholder="Enter folder name"
                required
            />
            <input
                type="hidden"
                name="parentFolderId"
                value="<%= currentFolder ? currentFolder.id : '' %>"
            />
            <button type="submit">Create Folder</button>
        </form>

        <!-- Upload File Form -->
        <form
            action="/files/upload"
            method="POST"
            enctype="multipart/form-data"
        >
            <input type="file" name="file" required />
            <input
                type="hidden"
                name="folderId"
                value="<%= currentFolder ? currentFolder.id : '' %>"
            />
            <button type="submit">Upload File</button>
        </form>

        <ul>
            <% folders.forEach(function(folder) { %>
            <li>
                <a
                    href="/files/<%= folder.parentFolderId ? folder.parentFolderId + '/' + folder.id : folder.id %>"
                >
                    <%= folder.name %>
                </a>
                <!-- Add a delete button for each folder -->
                <form
                    action="/files/delete/<%= folder.id %>"
                    method="POST"
                    style="display: inline"
                >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
        </ul>

        <!-- Display Files in the Current Folder -->
        <h2>Files:</h2>
        <ul>
            <% files.forEach(function(file) { %>
            <li>
                <a href="/files/details/<%= file.id %>"><%= file.name %></a>
            </li>
            <% }) %>
        </ul>

        <br />
        <a href="/">Go to Home</a>
    </body>
</html>
