<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Management</title>
    </head>
    <body>
        <h1>Files in <%= currentFolder || 'Root' %> folder</h1>

        <form action="/files/create-folder" method="POST">
            <input
                type="text"
                name="folderName"
                placeholder="Enter folder name"
                required
            />
            <button type="submit">Create Folder</button>
        </form>
        <form
            action="/files/<%= currentFolder %>/upload"
            method="POST"
            enctype="multipart/form-data"
        >
            <input type="file" name="file" required />
            <button type="submit">Upload File</button>
        </form>

        <h2>Folders:</h2>
        <ul>
            <% folders.forEach(function(folder) { %>
            <li>
                <a
                    href="/files/<%= currentFolder ? currentFolder + '/' + folder : folder %>"
                >
                    <%= folder %>
                </a>
            </li>
            <% }) %>
        </ul>

        <h2>Files:</h2>
        <ul>
            <% uploadedFiles.forEach(function(file) { %>
            <li><%= file %></li>
            <% }) %>
        </ul>

        <br />
        <a href="/">Go to Home</a>
    </body>
</html>
